<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title | append: ' - ' |append: site.name }}</title>
	<link rel="shortcut icon" href="{{ 'favicon.ico' | prepend: site.cdn }}" type="image/x-icon">
  <link rel="icon" href="{{ 'favicon.ico' | prepend: site.cdn }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ 'index.css' | prepend: site.cdn }}">
	<link rel="stylesheet" href="{{ 'font-awesome.css' | prepend: site.cdn }}">
	<link rel="stylesheet" href="{{ 'syntax.css' | prepend: site.cdn }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.cdn }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ '/feed.xml' | prepend: site.baseurl }}">
	
	<meta name="keywords" content="{{ page.title | append: ', ' | append: site.name | append: ', ' | append: site.meta_description}}">
	<meta name="description" content="{{site.meta_description}}">
	<script>
		// 百度统计
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?{{ site.baidu_analysis }}";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();
		</script>
		
  	<style type="text/css">
	  	.docs-content{
	  		margin-bottom: 10px;
	  	}
  	</style>
</head>