{% include head.html %}
<body class="index">
  <link rel="stylesheet" href="{{ '/assets/audio/mediaelementplayer.min.css' | prepend: site.baseurl }}">
  <style>
    #comments {
      margin-top: 14px;
    }
  </style>
  {% include header.html %}
  <div class="container" style="max-width: 848px">
    <h1 class="post-title">{{ page.title }}</h1>
    <audio src="{{ page.fileurl | prepend: site.cdn }}" id="audio" width="100%"></audio>
    <div id="comments"></div>
    {% include valine.html %}
  </div>
  
  <script src="{{ 'jquery.min.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/assets/audio/mediaelement-and-player.min.js' | prepend: site.baseurl }}"></script>
  <script>
    $('video, audio').mediaelementplayer({
      id: 'audioMdeia',
      width: '100%'
    });
  </script>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</body>
</html>