

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="index">
  <style>
    @media screen and (max-width: 576px) {
      .post-title {
        font-size: 16px;
        
      }
    }
    
  </style>
    
    {% include header.html %}
    <div class="container">
      <h1 class="post-title text-center" title="{{ page.title }}">{{ page.title }}</h1>
    </div>
    <iframe class="iframe"  frameborder="0"
      scrolling="no" src="{{ '/assets/pdfjs/web/viewer.html?file=' | prepend: site.baseurl | append: page.fileurl }}" frameborder="0"></iframe>
      <script src="{{ '/assets/pdfjs/build/pdf.js' | prepend: site.baseurl }}" ></script>
  </body>
</html>
